<%- include ("../../partials/home-layout")%>

    <section>
        <header>
            <h1 class="main-title">(
                <%=course.code%>)
                    <%=course.name%>
            </h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">My Dashboard</a><i class="fas fa-chevron-right"></i>My Courses<i class="fas fa-chevron-right"></i><a href="/fms.edu.in/course/<%=course._id%>">(<%=course.code%>) <%=course.name%></a></p>
        </header>
        <div class="container">
            <div class="content">
                <div class="sub-content">
                    <p class="content-title">Activity</p>
                    <div class="content-body">
                        <%if(tasks != "undefined" && tasks.length > 0){%>
                            <%tasks.forEach((task) => {%>
                                <div class="content-ps">
                                    <div class="t-title">
                                        <%=task.title%>
                                    </div>
                                    <div class="t-link"><a href="/fms.edu.in/course/<%=course._id%>/activity/<%=task._id%>">Go to activity</a></div>
                                </div>
                                <%});%>
                                    <%}else{%>
                                        <div class="content-ps content-fade">
                                            <div class="t-title">No activities to show</div>
                                        </div>
                                        <%}%>
                    </div>

                </div>


            </div>
        </div>

    </section>
    <%- include ("../../partials/footer")%>