<%- include ("../../partials/home-layout")%>

    <section>
        <header>
            <h1 class="main-title"><i class="fas fa-user-circle"></i>
                <%=currentUser.name%>
            </h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">Dashboard</a><i class="fas fa-chevron-right"></i><a href="/fms.edu.in/users/profile">Profile</a><i class="fas fa-chevron-right"></i><a href="/fms.edu.in/users/editprofile">Edit Profile</a></p>
        </header>

        <div class="container">
            <div class="content">

                <div class="sub-content ep-content">
                    <p class="content-title">
                        <%=currentUser.firstname%>
                            <%=currentUser.lastname%>
                    </p>
                    <%- include ("../../partials/messages") %>
                        <form class="content-body ep-form" method="POST" action="/fms.edu.in/users/editprofile">

                            <!-- name -->

                            <div class="input-field">
                                <div class="field-title"><label for="name">Name</label></div>
                                <div class="field-body"><input type="text" name="name" id="name" value="<%= typeof currentUser.name != 'undefined' ? currentUser.name : '' %>"></div>
                            </div>
                            <!-- email address -->

                            <div class="input-field">
                                <div class="field-title"><label for="email">Email Address</label></div>
                                <div class="field-body"><input type="email" name="email" id="email" value="<%= typeof currentUser.email != 'undefined' ? currentUser.email : '' %>"></div>
                            </div>
                            <!-- phone number -->

                            <div class="input-field">
                                <div class="field-title"><label for="phone">Phone Number</label></div>
                                <div class="field-body"><input type="tel" name="phone" id="phone" value="<%= typeof currentUser.phone != 'undefined' ? currentUser.phone : '' %>"></div>
                            </div>
                            <!-- gender -->

                            <div class="input-field">
                                <div class="field-title">Gender</div>
                                <div class="field-body">
                                    <div class="field-body-rb"><input type="radio" name="gender" id="male" value="male" <% if(currentUser.gender !="female" ) {%>checked
                                        <%}%> >
                                            <label for="male">Male</label></div>
                                    <div class="field-body-rb"><input type="radio" name="gender" id="female" value="female" <% if(currentUser.gender=="female" ) {%>checked
                                        <%}%> >
                                            <label for="female">Female</label></div>
                                    <div class="field-body-rb"><input type="radio" name="gender" id="other" value="other">
                                        <label for="other">Other</label></div>
                                </div>
                            </div>

                            <!-- year -->

                            <div class="input-field">
                                <div class="field-title"><label for="year">Year</label></div>
                                <div class="field-body"><input type="number" min="1" max="4" name="year" id="year" value="<%= typeof currentUser.year != 'undefined' ? currentUser.year : '' %>"></div>
                            </div>
                            <!-- program type -->

                            <div class="input-field">
                                <div class="field-title"><label for="program">Program Type</label></div>
                                <div class="field-body"><input type="text" name="program" id="program" value="<%= typeof currentUser.program != 'undefined' ? currentUser.program : '' %>"></div>
                            </div>
                            <!-- branch -->

                            <div class="input-field">
                                <div class="field-title"><label for="branch">Branch</label></div>
                                <div class="field-body"><input type="text" name="branch" id="branch" value="<%= typeof currentUser.branch != 'undefined' ? currentUser.branch : '' %>"></div>
                            </div>
                            <!-- section -->

                            <div class="input-field">
                                <div class="field-title"><label for="section">Section</label></div>
                                <div class="field-body"><input type="text" name="section" id="section" value="<%= typeof currentUser.section != 'undefined' ? currentUser.section : '' %>"></div>
                            </div>
                            <!-- buttons -->

                            <div class="btn-wrapper">
                                <div class="btn-cp"><a href="/fms.edu.in/users/profile">Cancel</a></div>
                                <input type="submit" class="btn-ep" value="Update Profile">
                            </div>
                        </form>

                </div>
            </div>

        </div>

    </section>

    <%- include ("../../partials/footer")%>