<%- include ("../../partials/home-layout")%>

    <section>
        <header>
            <h1 class="main-title">(
                <%=course.code%>)
                    <%=course.name%>
            </h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">My Dashboard</a><i class="fas fa-chevron-right"></i>My Courses<i class="fas fa-chevron-right"></i><a href="/fms.edu.in/course/<%=course._id%>">(<%=course.code%>) <%=course.name%></a></p>
        </header>
        <div class="container">
            <div class="content">
                <div class="sub-content">
                    <p class="content-title">Add Task</p>
                    <%- include ("../../partials/messages") %>

                        <form method="POST" action="/fms.edu.in/course/<%=course._id%>/add-task" class="content-body" enctype="multipart/form-data">
                            <div class="form-element">
                                <label for="task-type" class="form-title">Task title : </label>
                                <input type="text" id="task-type" name="title">
                            </div>
                            <div class="form-element">
                                <label for="file-input" class="form-title">Problem Statement : </label>
                                <input type="file" name="fileUploaded" id="file-input" onchange="myFunction4()" hidden>
                                <button type="button" id="file-btn" onclick="myFunction3()">CHOOSE A FILE</button>
                                <span id="file-text">No file chosen, yet.</span>
                            </div>
                            <div class="form-element">
                                <p class="form-title">Assign to : </p>
                                <div class="class-rb-btn">
                                    <%course.sections.sort();%>
                                        <%course.sections.forEach((section) => {%>
                                            <%if(faculty.batches.some((batch) => {return (JSON.stringify(batch.course.id) === JSON.stringify(course._id) && JSON.stringify(batch.section.id) === JSON.stringify(section._id));})){%>
                                                <input class="class-rb" type="checkbox" id="rb-<%=section.name%>" name="sections" value="<%=section._id%>">
                                                <label for="rb-<%=section.name%>">Section <%=section.name%></label>
                                                <%}%>
                                                    <%});%>
                                </div>
                            </div>
                            <div class="form-element">
                                <label for="task-date" class="form-title">Due date : </label>
                                <input type="date" id="task-date" name="duedate">
                            </div>
                            <div class="form-element form-submit-btn">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                </div>
                <div class="sub-content">
                    <p class="content-title">History</p>
                    <div class="content-body">
                        <%if(tasks.length === 0){%>
                            <div class="content-ps content-fade">
                                <div class="t-title">No tasks to show</div>
                            </div>
                            <%}else{%>
                                <%tasks.forEach((task) => {%>
                                    <div class="content-ps">
                                        <div class="t-title">
                                            <%=task.title%>
                                        </div>
                                        <div class="t-link"><a href="/fms.edu.in/course/<%=course._id%>/task/<%=task._id%>/all-submissions">Go to activity</a></div>
                                    </div>
                                    <%});%>
                                        <%}%>
                    </div>

                </div>


            </div>
        </div>

    </section>

    <%- include ("../../partials/footer")%>