<%- include ("../../partials/home-layout") %>

    <section>
        <header>
            <h1 class="main-title">
                <%=course.code%>)
                    <%=course.name%>
            </h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">Dashboard</a><i class="fas fa-chevron-right"></i>My Courses<i class="fas fa-chevron-right"></i>
                <a href="/fms.edu.in/course/<%=course._id%>">(<%=course.code%>) <%=course.name%></a><i class="fas fa-chevron-right"></i>
                <%=task.title%><i class="fas fa-chevron-right"></i><a href="/fms.edu.in/course/<%=course._id%>/task/<%=task._id%>/all-submissions">Submissions</a></p>
        </header>
        <div class="container">
            <div class="content">
                <div class="sub-content">
                    <p class="content-title">
                        <%=task.title%>
                    </p>
                </div>

                <div class="sub-content">
                    <p class="content-title">Edit Task</p>
                    <%- include ("../../partials/messages") %>

                        <form method="POST" action="/fms.edu.in/course/<%=course._id%>/add-task" class="content-body" enctype="multipart/form-data">
                            <input type="text" name="taskid" value="<%=task._id%>" hidden>
                            <div class="form-element">
                                <label for="task-type" class="form-title">Task title : </label>
                                <input type="text" id="task-type" name="title" value="<%=task.title%>">
                            </div>
                            <div class="form-element">
                                <label for="file-input" class="form-title">Problem Statement : </label>
                                <input type="file" name="fileUploaded" id="file-input" onchange="myFunction4()" hidden>
                                <button type="button" id="file-btn" onclick="myFunction3()">CHOOSE A FILE</button>
                                <span id="file-text">(In order to update, please upload the file <i>[<%=task.filename%>]<i> again)</span>
                            </div>
                            <div class="form-element">
                                <p class="form-title">Assign to : </p>
                                <div class="class-rb-btn">
                                    <%course.sections.sort();%>
                                        <%course.sections.forEach((section) => {%>
                                            <input class="class-rb" type="checkbox" id="rb-<%=section.name%>" name="sections" value="<%=section._id%>" <%=(task.sections.find((t)=>(JSON.stringify(t)===JSON.stringify(section))))?"checked":""%>>
                                            <label for="rb-<%=section.name%>">Section <%=section.name%></label>
                                            <%});%>
                                </div>
                            </div>
                            <div class="form-element">
                                <label for="task-date" class="form-title">Due date : </label>
                                <%let dd = new Date(task.duedate).toISOString();%>
                                    <input type="date" id="task-date" name="duedate" value="<%=dd.substring(0,10)%>">
                            </div>
                            <div class="form-element form-submit-btn">
                                <input type="submit" value="Update">
                            </div>
                        </form>
                </div>

                <div class="sub-content">
                    <p class="content-title">Submissions</p>
                    <div class="content-body">
                        <%if(task.submissions.length === 0){%>
                            <div class="content-ps content-fade">
                                <div class="t-title">No submissions to show</div>
                            </div>
                            <%}else{%>
                                <%task.submissions.forEach((submission) => {%>
                                    <div class="content-ps">
                                        <div class="t-title">
                                            <%=submission.student.name%>(
                                                <%=submission.student.username%>)</div>
                                        <div class="t-link"><a href="/fms.edu.in/course/<%=course._id%>/task/<%=task._id%>/submission/<%=submission._id%>">View Submission</a></div>
                                    </div>
                                    <%});%>
                                        <%}%>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <%- include("../../partials/footer") %>