<%- include ("../partials/home-layout")%>
    <section>
        <header>
            <h1 class="main-title"><i class="fas fa-user-circle"></i>
                <%=currentUser.name%>
            </h1>
            <p class="path-track"><a href="/fms.edu.in/dashboard">Dashboard</a><i class="fas fa-chevron-right"></i><a href="/fms.edu.in/users/profile">Profile</a><i class="fas fa-chevron-right"></i><a href="/fms.edu.in/users/changepassword">Change Password</a></p>
        </header>

        <div class="container">
            <div class="content">

                <div class="sub-content ep-content">
                    <p class="content-title">
                        <%=currentUser.name%>
                            <%=currentUser.firstname%>
                                <%=currentUser.lastname%>
                    </p>
                    <%- include ("../partials/messages") %>
                        <form class="content-body ep-form" method="POST" action="/fms.edu.in/users/changepassword">

                            <!-- username -->

                            <div class="input-field">
                                <div class="field-title"><label for="username">Username</label></div>
                                <div class="field-body"><input type="text" name="username" id="username" value="<%=currentUser.username%>" readonly></div>
                            </div>
                            <!-- current password -->

                            <div class="input-field">
                                <div class="field-title"><label for="current-password">Current Password</label></div>
                                <div class="field-body"><input type="password" name="cpassword" id="current-password" value=""></div>
                            </div>

                            <input type="password" name="cpassword" id="current-password" value="<%=currentUser.password%>" hidden readonly>
                            <!-- new password -->


                            <div class="input-field">
                                <div class="field-title"><label for="new-password">New Password</label></div>
                                <div class="field-body"><input type="password" name="password" id="new-password" value=""></div>
                            </div>
                            <!-- confirm password -->

                            <div class="input-field">
                                <div class="field-title"><label for="confirm-password">Confirm New Password</label></div>
                                <div class="field-body"><input type="password" name="password2" id="confirm-password" value=""></div>
                            </div>
                            <!-- buttons -->

                            <div class="btn-wrapper">
                                <div class="btn-cp"><a href="/fms.edu.in/users/profile">Cancel</a></div>
                                <input type="submit" class="btn-ep" value="Change Password">
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>

    <%- include ("../partials/footer")%>