<%- include ("../partials/top") %>

    <div class="form-container">
        <div class="form-box">
            <div class="form-title">
                <h1>Sign Up</h1>
            </div>
            <%- include ("../partials/messages") %>
                <!-- FORM -->
                <form method="POST" action="/fms.edu.in/users/register">

                    <!-- username -->
                    <div class="field">
                        <input type="text" name="username" id="inputUsername" placeholder="Enter username" value="<%= typeof username != 'undefined' ? username : '' %>" autofocus>
                    </div>

                    <!-- firstname -->
                    <div class="field">
                        <input type="text" name="firstname" id="inputFirstName" placeholder="Enter first name" value="<%= typeof firstname != 'undefined' ? firstname : '' %>">
                    </div>

                    <!-- lastname -->
                    <div class="field">
                        <input type="text" name="lastname" id="inputLastName" placeholder="Enter last name" value="<%= typeof lastname != 'undefined' ? lastname : '' %>">
                    </div>

                    <!-- email -->
                    <div class="field">
                        <input type="email" name="email" id="inputEmail" placeholder="Enter email address" value="<%= typeof email != 'undefined' ? email : '' %>">
                    </div>

                    <!-- phone -->
                    <div class="field">
                        <input type="tel" name="phone" id="inputPhone" pattern="[789][0-9]{9}" placeholder="Enter phone number" value="<%= typeof phone != 'undefined' ? phone : '' %>">
                    </div>

                    <!-- role -->
                    <div class="role-field">
                        <div class="role-field-box">
                            <p>Select role :</p>
                        </div>
                        <div class="role-field-box roles">
                            <div class="role">
                                <input type="radio" name="role" id="studentBtn" value="student" checked>
                                <label for="studentBtn">
                                    Student
                                </label>
                            </div>
                            <div class="role">
                                <input type="radio" name="role" id="facultyBtn" value="faculty">
                                <label for="facultyBtn">
                                    Faculty
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- password -->
                    <div class="field">
                        <input type="password" name="password" id="password1" placeholder="Enter a password" value="<%= typeof password != 'undefined' ? password : '' %>">
                        <div class="toggle" data-list="1">
                        </div>
                    </div>

                    <!-- confirm password -->
                    <div class="field">
                        <input type="password" name="password2" id="password2" placeholder="Confirm password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        <div class="toggle" data-list="2"></div>
                    </div>
                    <div class="field"><input type="submit" value="Submit">
                    </div>
                </form>
                <p>Already have an account? <a href="/fms.edu.in/users/login">Login</a></p>
        </div>
    </div>
    </div>

    <%- include ("../partials/bottom") %>